extends base.pug
block content
    .inner.cover
        h1.cover-heading
            | Third year M.Sc. Computer Science
        |
        p.lead
            | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi. | 27 year old student of LTU (Lule&aring; tekniska universitet) with embedded systems as my field of study.
            |             | Currently developing a android application in unity focusing on gamification and augmented reality, this website
            |             | and a selfdriving RC-car using a raspberry pi.
            br
            |
            a(href='https://github.com/superspindel') Github
            |
            a(href='http://linkedin.com/in/viktorfallman') Linkedin
            |
        |
        p.lead
    |
    .mastfoot
    .inner